<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--数据库信息-->
  <Database type="Txooo.Data.DatabaseConfig">
    <ConnString>
      <TxoooBrands IfEncrypt="false">Server=10.10.10.29;Database=TxoooBrands;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooBrands>
      <TxoooCMS08 IfEncrypt="false">Server=10.10.10.29;Database=TxoooCMS08;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooCMS08>
    </ConnString>
  </Database>

  <!--日志调试信息-->
  <log4net path="../Log/">
    <!--默认日志级别，OFF、Fatal、ERROR、WARN、INFO、DEBUG、ALL-->
    <root>
      <level value="ALL" />
    </root>
    <!--日志记录对象-->
    <logger name="Txooo.TxConfig">
      <level value="ALL" />
      <appender-ref ref="Txooo.TxConfig.Appender" />
    </logger>
  </log4net>
  
</configuration>